.brand {
  color: white;
}

.shop-item {

  .shop-item-image {
    width: 100%;
  }
  .shop-item-title {
    font-weight: bold;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}

.price {
  font-weight: bold;
}