@import "~bootstrap/dist/css/bootstrap.min.css";

nav.bd-navbar {
  background-color: rgb(25, 12, 12);
}

body {
  background-color: #f5f5f5;
}

#root {
  width: 100%;
  height: 100%;
  > div {
    height: 100%;
  }
}